.Main-chat
  .top
    .member
      .test
        = @group.name      #@group(:current_user)
      .mem
        member:
        - @group.users.each do |user|
          .men1
            = user.name
          
          

    .botan 
      = link_to 'Edit', edit_group_path(@group), class: "botan-edit"
      
  .message_field
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-text
        = f.text_field :content, class: 'text-input', placeholder: "type a message"
        = f.label :image, class: 'input-image' do
          = icon('far', 'image', class: 'icon1')
          = f.file_field :image, class: 'input-none'
      = f.submit 'Send', class: 'send-put'