.Side-bar
  .header
    .obset
      .object unko
      .iset 
        .icon
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit', class: "ic")
        .set
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "se")
        
  .group-list
    - current_user.groups.each do |group|
      .techcamp
        = link_to group_messages_path(group) do
          .tech 
            = group.name
          .camp
            = group.show_last_message